<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon> {{ 'BACK' | translate}}
  </button>
  <button mat-flat-button type="button" color="primary" (click)="save()">{{ 'SAVE' | translate}}</button>
</div>
<form *ngIf="form" [formGroup]="form">
  <h1 translate>CONFIGURATION.TITLE</h1>
  <mat-form-field>
    <mat-label>{{'CONFIGURATION.REST_PROXY_URL' | translate}}</mat-label>
    <input matInput required formControlName="restProxyUrl">
  </mat-form-field>
  <h2 translate>CONFIGURATION.INST_CODES.TITLE</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let code of form.controls.instCodes.value; index as i">
      {{ code }}
      <i class="uxf-icon uxf-close eca-button" (click)="removeInstCode(i)"></i>
    </mat-list-item>
  </mat-list>
  <button mat-flat-button type="button" color="secondary" (click)="addInstCode()">{{ 'CONFIGURATION.INST_CODES.ADD' | translate}}</button>
</form>

<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>