<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon> {{ 'BACK' | translate}}
  </button>
  <button mat-flat-button type="button" color="primary" (click)="save()">{{ 'SAVE' | translate}}</button>
</div>
<form *ngIf="form" [formGroup]="form">
  <h1 translate>CONFIGURATION.TITLE</h1>
  <mat-form-field>
    <mat-label>{{'CONFIGURATION.API_KEY' | translate}}</mat-label>
    <input matInput required formControlName="restProxyUrl">
  </mat-form-field>
  <label id="existing-license-label" translate>CONFIGURATION.EXISTING_LICENSE</label>
  <mat-radio-group
    aria-labelledby="existing-license-label"
    class="radio-group"
    formControlName="existingLicense">
    <mat-radio-button class="radio-button" *ngFor="let option of existingLicenseOptions" [value]="option | mapi18n">
      {{ option | translate }}
    </mat-radio-button>
  </mat-radio-group>
  <hr>
  <br>
  <label translate>CONFIGURATION.HANDLE_ATTACHMENTES</label>
  <div class="mat-form-field">
    <br>
    <mat-checkbox formControlName="createAttachments">{{"CONFIGURATION.CREATE_ATTACHMENTS" | translate}}</mat-checkbox>
  </div>
  
</form>

<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>