<div class="cloudapp-actions">
  <button mat-flat-button type="button" color="secondary" (click)="selectedLicense=null" [disabled]="!selectedLicense">{{ 'MAIN.CLEAR' | translate}}</button>
  <button mat-flat-button type="button" color="secondary" (click)="view()" [disabled]="!selectedLicense">{{ 'MAIN.VIEW' | translate}}</button>
  <button mat-flat-button type="button" color="primary" (click)="copy()" [disabled]="!selectedLicense">{{ 'MAIN.COPY' | translate}}</button>
</div>
<p translate>MAIN.INTRO</p>

<mat-radio-group [(ngModel)]="licenseType" class="radio-row">
  <mat-radio-button value="LICENSE">License</mat-radio-button>
  <mat-radio-button value="NEGOTIATION">Negotiation</mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <mat-label>{{ 'MAIN.SEARCH' | translate }} {{ searchType | translate }}</mat-label>
  <input matInput #searchTermInput [(ngModel)]="data.searchTerm" (keydown.enter)="search()">
  <mat-button-toggle-group matSuffix>
    <mat-button-toggle mat-flat-button color="secondary"  (click)="search()">
      <mat-icon class="carrot">search</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle mat-flat-button color="secondary" [matMenuTriggerFor]="searchMenu">
      <mat-icon class="carrot">arrow_drop_down</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-form-field>
<mat-menu #searchMenu="matMenu">
  <button mat-menu-item *ngFor="let option of searchOptions" (click)="setSearchType(option); searchTermInput.focus()">{{ option | translate }}</button>
</mat-menu>
<div *ngIf="data.licenses">
  <mat-radio-group
  class="radio-column" 
    [(ngModel)]="selectedLicense">
    <mat-radio-button *ngFor="let result of data.licenses.license" [value]="result">
      {{result.code}} / {{result.name}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-paginator 
    [length]="data.licenses.total_record_count"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="page($event)"
  >
  </mat-paginator>
</div>
<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<app-copy-license [(loading)]="loading"></app-copy-license>