.mat-form-field {
  width: 100%;
  max-width: 400px;
}
.carrot {
  display: inline-block!important;
}
.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.mat-radio-button {
  margin: 5px;
}